@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Games Store</h1>
    <p class="lead">This is a ASP.NET MVC created using Entity Framework.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more about ASP.NET&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Games</h2>
        <p>
            This is a list of all games available
        </p>
        <p><a class="btn btn-default" href="Games">Games List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Customer management.</p>
        <p><a class="btn btn-default" href="/Customers">Customer Management &raquo;</a></p>
    </div>
   
</div>